/**
 * default style of the applicaton
 * 
 */

@import './variables.scss';
@import './common.scss';
html,
body {
    @extend .full-screen;
    overflow: hidden;
    .app-header {
        height: 72px;
        background: $light-color;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        @extend .border-shadow;
        img {
            height: 50px;
            width: 70px;
            margin-left: $bwt-space;
        }
        .search-nav {
            align-items: center;
            margin: 0 $bwt-space 0 auto;
            display: none;
            * {
                pointer-events: none;
            }
        }
    }
    main {
        background-color: $accent-color;
        font-size: 14px;
        width: 100%;
        height: calc(100% - #{$header-height});
        top: 72px;
        display: flex;
        position: relative;
        box-sizing: border-box;
        font-family: sans-serif;
        overflow: hidden;
        aside.menu-container {
            flex: 2;
            .menu {
                padding: $bwt-space;
                box-sizing: border-box;
                min-width: 220px;
                box-sizing: border-box;
                #returnDateBlock {
                    display: none;
                }
            }
        }
        section.content {
            flex: 6;
            margin: $bwt-space 0;
            padding: $bwt-space;
            box-sizing: border-box;
            background: $light-color;
            overflow: auto;
            @extend .box-shadow;
            .welcome-block {
                display: flex;
                margin: auto;
                flex-direction: column;
                text-align: center;
                padding: 50px;
                .logo-txt-1 {
                    font-size: 70px;
                    font-weight: bold;
                    color: $primary-color;
                }
                .logo-txt-2 {
                    @extend .logo-txt-1;
                    color: $secondary-color;
                }
                .welcome-text {
                    font-size: 24px;
                    color: $secondary-color;
                }
            }
            .content-container {
                display: flex;
                flex-direction: column;
                height: 100%;
                color: $font-color;
                .content-header {
                    padding-bottom: 5px;
                    border-bottom: 1.5px solid $border-color;
                    display: flex;
                    color: $font-color;
                    line-height: 1.2;
                    margin-bottom: 5px;
                    .left {
                        margin-right: auto;
                        display: flex;
                        flex-direction: column;
                        font-weight: bold;
                        font-size: 16px;
                    }
                    .right {
                        text-align: right;
                    }
                }
                .results-block {
                    display: flex;
                    flex-direction: row;
                    flex: 1;
                    overflow: auto;
                    flex-flow: row wrap;
                    .left {
                        flex: 1;
                        margin-right: 10px;
                    }
                    .right {
                        flex: 1;
                    }
                    .message {
                        padding-top: 10px;
                    }
                    .flight {
                        padding: 10px 10px 10px 10px;
                        margin-top: 10px;
                        border: 1px solid $border-color;
                        display: flex;
                        min-height: 75px;
                        min-width: 330px;
                        .flight-logo-block {
                            height: 50px;
                            width: 50px;
                            margin-right: 15px;
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }
                        .travel-info {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            margin-left: 10px;
                            .header-block {
                                display: flex;
                                text-align: center;
                                align-items: center;
                                .price-block {
                                    display: flex;
                                    align-items: center;
                                }
                            }
                            .details-block {
                                display: flex;
                                margin-top: 10px;
                                width: 100%;
                                flex: 1;
                                align-items: center;
                                .detail {
                                    display: flex;
                                    justify-content: space-between;
                                    flex: 1;
                                    align-items: baseline;
                                }
                            }
                        }
                        .price-info {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            justify-content: space-between;
                            .price-block {
                                @extend .text-highlight;
                                .price {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
        section.filter {
            padding: 30px;
            min-width: 250px;
            box-sizing: border-box;
        }
    }
}