/**
 * common style classes for re-usae
 * 
 * Classes can be extended across the applicaton.
 *
**/

@import './variables.scss';
ul {
	padding: 0;
	list-style-type: none;
}

.full-screen {
	width: 100%;
	height: 100%;
	position: relative;
}

.no-margin {
	margin: 0;
}

.border-shadow {
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
}

.box-shadow {
	box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
}

.bold {
	font-weight: bold;
}

.text-highlight {
	font-weight: bold;
	font-size: 18px;
}

.cursor {
	cursor: pointer;
}

.flex-center {
	display: flex;
	align-items: center;
}

.light-text {
	color: $secondary-color-dark;
	font-size: 12px;
}

// button
.btn {
	height: $input-height;
	outline: none;
	color: $light-color;
	border: 0;
	padding: 0 10px;
	cursor: pointer;
	&.default {
		width: $btn-width;
	}
	&.center {
		margin: auto;
	}
	&.primary {
		background: $primary-color;
	}
	&.danger {
		background: $danger-color;
	}
	&.cool {
		background: $accent-color-2
	}
	&:hover {
		filter: brightness(125%);
	}
}

// form field
.form-field {
	position: relative;
	margin-bottom: 15px;
	label {
		display: inline-block;
		margin-bottom: 5px;
		span {
			color: $danger-color;
		}
	}
	.form-input {
		height: $input-height;
		width: 100%;
		padding: $input-spacing;
		box-sizing: border-box;
		border: 1px solid $secondary-color;
		background: $light-color;
		font-size: 14px;
		color: $dark-color;
		position: relative;
		&:focus {
			outline-color: $primary-color;
		}
	}
	.toggle {
		@extend .cursor;
		width: 230px;
		margin: auto;
		.toggle-switch {
			background: $secondary-color;
			width: 80px;
			height: 30px;
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px;
			position: relative;
			&:after {
				content: " ";
				display: block;
				width: 40px;
				height: 30px;
				background-color: $primary-color;
				border-top: 0;
				border-bottom: 0;
				margin-left: -3px;
				transition: all 0.1s ease-in-out;
			}
			i {
				position: absolute;
				color: $light-color;
				top: 8px;
				&.one-way {
					left: 13px;
				}
				&.both-way {
					top: 8px;
					right: 13px;
				}
			}
		}
		.toggle-label {
			display: inline-block;
			line-height: 30px;
		}
		.toggle-label-off {
			color: $primary-color;
		}
		&.active {
			.toggle-label-off {
				color: $secondary-color;
			}
			.toggle-label-on {
				color: $primary-color;
			}
			.toggle-switch {
				&:after {
					margin-left: 40px;
				}
			}
		}
	}
}