/**
 * style used for slider component
**/
@import './variables.scss';
$track_height: 2px;
.range-slider {
    .values-group {
        display: flex;
        align-items: center;
        flex-direction: column;
        .track {
            width: 100%;
        }
        .input-block {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            input {
                pointer-events: none;
                background: transparent;
                border: none;
                outline: none;
                width: 50px;
            }
            input.right {
                text-align: right;
            }
        }
    }
    .track {
        position: relative;
        width: inherit;
        height: $track_height;
        background: $secondary-color;
        box-sizing: border-box;
        padding: 0 5px;
        .thumb {
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            &::after {
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: $secondary-color;
                z-index: 99;
                left: -10px;
                top: -10px;
                box-sizing: border-box;
            }
        }
        .thumb-min::after {
            border: 1.5px solid $primary-color;
        }
        .thumb-max::after {
            border: 1.5px solid $primary-color;
        }
        .selection {
            position: absolute;
            width: unset;
            height: $track_height;
            background: $primary-color;
        }
    }
}