/**
 * Style for mobiles, tablets, upto 992px
 * 
 * Overwrites the default styles defined for the larger screen, more then 992px.
 *
 */

 @import './variables.scss';

 /* small devices (mobiles, tables, up 992px ) */
 
 @media screen and (max-width: 992px) {
     // Style
     html,
     body {
         overflow: auto;
         .app-header {
             .search-nav {
                 display: flex;
             }
         }
         main {
             overflow: auto;
             flex-direction: column-reverse;
             aside.menu-container {
                 display: none;
             }
             section.content {
                 margin: 30px;
             }
             section.filter {
                 padding-bottom: 0;
                 form {
                     display: flex;
                     background: $light-color;
                     display: flex;
                     justify-content: space-between;
                     .form-field {
                         flex: 1;
                         margin: $bwt-space;
                     }
                 }
                 &:empty {
                     display: none;
                 }
             }
             &.mobile {
                 position: relative;
                 aside.menu-container {
                     position: absolute;
                     width: 100%;
                     background: $semi-transparent;
                     height: 100%;
                     right: 0;
                     top: 0;
                     z-index: 999;
                     display: block;
                     .menu {
                         width: 70%;
                         right: 0;
                         display: flex;
                         margin-left: auto;
                         height: 100%;
                         background: $accent-color;
                         z-index: 1000;
                         #my-form {
                             width: 100%;
                         }
                     }
                 }
             }
         }
     }
 }