/**
 * SCSS variables
 *
 * variables exported to other scss files
 */

// colors
$primary-color-dark : #6cb1ee;
$primary-color : #08b231;
$secondary-color-dark : #9ea59c;
$secondary-color : #ddd9d9;
$light-color: #ffffff;
$dark-color: #000000;
$border-color: #e1e1e1;
$font-color: darkslategray;
$danger-color: red;
$accent-color: #f9fbfc;
$accent-color-2:#00b9f5;
$semi-transparent:rgba(0,0,0,0.1);

// variables
$header-height: 72px;
$bwt-space: 30px;
$input-height: 35px;
$input-spacing: 10px;
$btn-width: 200px;