/**
 * default style of the applicaton
 * 
 */
/**
 * SCSS variables
 *
 * variables exported to other scss files
 */
/**
 * common style classes for re-usae
 * 
 * Classes can be extended across the applicaton.
 *
**/
/**
 * SCSS variables
 *
 * variables exported to other scss files
 */
ul {
  padding: 0;
  list-style-type: none; }

.full-screen, html,
body {
  width: 100%;
  height: 100%;
  position: relative; }

.no-margin {
  margin: 0; }

.border-shadow, html .app-header,
body .app-header {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); }

.box-shadow, html main section.content,
body main section.content {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12); }

.bold {
  font-weight: bold; }

.text-highlight, html main section.content .content-container .results-block .flight .price-info .price-block,
body main section.content .content-container .results-block .flight .price-info .price-block {
  font-weight: bold;
  font-size: 18px; }

.cursor, .form-field .toggle {
  cursor: pointer; }

.flex-center {
  display: flex;
  align-items: center; }

.light-text {
  color: #9ea59c;
  font-size: 12px; }

.btn {
  height: 35px;
  outline: none;
  color: #ffffff;
  border: 0;
  padding: 0 10px;
  cursor: pointer; }
  .btn.default {
    width: 200px; }
  .btn.center {
    margin: auto; }
  .btn.primary {
    background: #08b231; }
  .btn.danger {
    background: red; }
  .btn.cool {
    background: #00b9f5; }
  .btn:hover {
    filter: brightness(125%); }

.form-field {
  position: relative;
  margin-bottom: 15px; }
  .form-field label {
    display: inline-block;
    margin-bottom: 5px; }
    .form-field label span {
      color: red; }
  .form-field .form-input {
    height: 35px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd9d9;
    background: #ffffff;
    font-size: 14px;
    color: #000000;
    position: relative; }
    .form-field .form-input:focus {
      outline-color: #08b231; }
  .form-field .toggle {
    width: 230px;
    margin: auto; }
    .form-field .toggle .toggle-switch {
      background: #ddd9d9;
      width: 80px;
      height: 30px;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;
      position: relative; }
      .form-field .toggle .toggle-switch:after {
        content: " ";
        display: block;
        width: 40px;
        height: 30px;
        background-color: #08b231;
        border-top: 0;
        border-bottom: 0;
        margin-left: -3px;
        transition: all 0.1s ease-in-out; }
      .form-field .toggle .toggle-switch i {
        position: absolute;
        color: #ffffff;
        top: 8px; }
        .form-field .toggle .toggle-switch i.one-way {
          left: 13px; }
        .form-field .toggle .toggle-switch i.both-way {
          top: 8px;
          right: 13px; }
    .form-field .toggle .toggle-label {
      display: inline-block;
      line-height: 30px; }
    .form-field .toggle .toggle-label-off {
      color: #08b231; }
    .form-field .toggle.active .toggle-label-off {
      color: #ddd9d9; }
    .form-field .toggle.active .toggle-label-on {
      color: #08b231; }
    .form-field .toggle.active .toggle-switch:after {
      margin-left: 40px; }

html,
body {
  overflow: hidden; }
  html .app-header,
  body .app-header {
    height: 72px;
    background: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center; }
    html .app-header img,
    body .app-header img {
      height: 50px;
      width: 70px;
      margin-left: 30px; }
    html .app-header .search-nav,
    body .app-header .search-nav {
      align-items: center;
      margin: 0 30px 0 auto;
      display: none; }
      html .app-header .search-nav *,
      body .app-header .search-nav * {
        pointer-events: none; }
  html main,
  body main {
    background-color: #f9fbfc;
    font-size: 14px;
    width: 100%;
    height: calc(100% - 72px);
    top: 72px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden; }
    html main aside.menu-container,
    body main aside.menu-container {
      flex: 2; }
      html main aside.menu-container .menu,
      body main aside.menu-container .menu {
        padding: 30px;
        box-sizing: border-box;
        min-width: 220px;
        box-sizing: border-box; }
        html main aside.menu-container .menu #returnDateBlock,
        body main aside.menu-container .menu #returnDateBlock {
          display: none; }
    html main section.content,
    body main section.content {
      flex: 6;
      margin: 30px 0;
      padding: 30px;
      box-sizing: border-box;
      background: #ffffff;
      overflow: auto; }
      html main section.content .welcome-block,
      body main section.content .welcome-block {
        display: flex;
        margin: auto;
        flex-direction: column;
        text-align: center;
        padding: 50px; }
        html main section.content .welcome-block .logo-txt-1, html main section.content .welcome-block .logo-txt-2,
        body main section.content .welcome-block .logo-txt-1,
        body main section.content .welcome-block .logo-txt-2 {
          font-size: 70px;
          font-weight: bold;
          color: #08b231; }
        html main section.content .welcome-block .logo-txt-2,
        body main section.content .welcome-block .logo-txt-2 {
          color: #ddd9d9; }
        html main section.content .welcome-block .welcome-text,
        body main section.content .welcome-block .welcome-text {
          font-size: 24px;
          color: #ddd9d9; }
      html main section.content .content-container,
      body main section.content .content-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        color: darkslategray; }
        html main section.content .content-container .content-header,
        body main section.content .content-container .content-header {
          padding-bottom: 5px;
          border-bottom: 1.5px solid #e1e1e1;
          display: flex;
          color: darkslategray;
          line-height: 1.2;
          margin-bottom: 5px; }
          html main section.content .content-container .content-header .left,
          body main section.content .content-container .content-header .left {
            margin-right: auto;
            display: flex;
            flex-direction: column;
            font-weight: bold;
            font-size: 16px; }
          html main section.content .content-container .content-header .right,
          body main section.content .content-container .content-header .right {
            text-align: right; }
        html main section.content .content-container .results-block,
        body main section.content .content-container .results-block {
          display: flex;
          flex-direction: row;
          flex: 1;
          overflow: auto;
          flex-flow: row wrap; }
          html main section.content .content-container .results-block .left,
          body main section.content .content-container .results-block .left {
            flex: 1;
            margin-right: 10px; }
          html main section.content .content-container .results-block .right,
          body main section.content .content-container .results-block .right {
            flex: 1; }
          html main section.content .content-container .results-block .message,
          body main section.content .content-container .results-block .message {
            padding-top: 10px; }
          html main section.content .content-container .results-block .flight,
          body main section.content .content-container .results-block .flight {
            padding: 10px 10px 10px 10px;
            margin-top: 10px;
            border: 1px solid #e1e1e1;
            display: flex;
            min-height: 75px;
            min-width: 330px; }
            html main section.content .content-container .results-block .flight .flight-logo-block,
            body main section.content .content-container .results-block .flight .flight-logo-block {
              height: 50px;
              width: 50px;
              margin-right: 15px; }
              html main section.content .content-container .results-block .flight .flight-logo-block img,
              body main section.content .content-container .results-block .flight .flight-logo-block img {
                height: 100%;
                width: 100%; }
            html main section.content .content-container .results-block .flight .travel-info,
            body main section.content .content-container .results-block .flight .travel-info {
              flex: 1;
              display: flex;
              flex-direction: column;
              margin-left: 10px; }
              html main section.content .content-container .results-block .flight .travel-info .header-block,
              body main section.content .content-container .results-block .flight .travel-info .header-block {
                display: flex;
                text-align: center;
                align-items: center; }
                html main section.content .content-container .results-block .flight .travel-info .header-block .price-block,
                body main section.content .content-container .results-block .flight .travel-info .header-block .price-block {
                  display: flex;
                  align-items: center; }
              html main section.content .content-container .results-block .flight .travel-info .details-block,
              body main section.content .content-container .results-block .flight .travel-info .details-block {
                display: flex;
                margin-top: 10px;
                width: 100%;
                flex: 1;
                align-items: center; }
                html main section.content .content-container .results-block .flight .travel-info .details-block .detail,
                body main section.content .content-container .results-block .flight .travel-info .details-block .detail {
                  display: flex;
                  justify-content: space-between;
                  flex: 1;
                  align-items: baseline; }
            html main section.content .content-container .results-block .flight .price-info,
            body main section.content .content-container .results-block .flight .price-info {
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: space-between; }
              html main section.content .content-container .results-block .flight .price-info .price-block .price,
              body main section.content .content-container .results-block .flight .price-info .price-block .price {
                font-size: 16px; }
    html main section.filter,
    body main section.filter {
      padding: 30px;
      min-width: 250px;
      box-sizing: border-box; }
