/**
 * common style classes for re-usae
 * 
 * Classes can be extended across the applicaton.
 *
**/
/**
 * SCSS variables
 *
 * variables exported to other scss files
 */
ul {
  padding: 0;
  list-style-type: none; }

.full-screen {
  width: 100%;
  height: 100%;
  position: relative; }

.no-margin {
  margin: 0; }

.border-shadow {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); }

.box-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12); }

.bold {
  font-weight: bold; }

.text-highlight {
  font-weight: bold;
  font-size: 18px; }

.cursor, .form-field .toggle {
  cursor: pointer; }

.flex-center {
  display: flex;
  align-items: center; }

.light-text {
  color: #9ea59c;
  font-size: 12px; }

.btn {
  height: 35px;
  outline: none;
  color: #ffffff;
  border: 0;
  padding: 0 10px;
  cursor: pointer; }
  .btn.default {
    width: 200px; }
  .btn.center {
    margin: auto; }
  .btn.primary {
    background: #08b231; }
  .btn.danger {
    background: red; }
  .btn.cool {
    background: #00b9f5; }
  .btn:hover {
    filter: brightness(125%); }

.form-field {
  position: relative;
  margin-bottom: 15px; }
  .form-field label {
    display: inline-block;
    margin-bottom: 5px; }
    .form-field label span {
      color: red; }
  .form-field .form-input {
    height: 35px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd9d9;
    background: #ffffff;
    font-size: 14px;
    color: #000000;
    position: relative; }
    .form-field .form-input:focus {
      outline-color: #08b231; }
  .form-field .toggle {
    width: 230px;
    margin: auto; }
    .form-field .toggle .toggle-switch {
      background: #ddd9d9;
      width: 80px;
      height: 30px;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;
      position: relative; }
      .form-field .toggle .toggle-switch:after {
        content: " ";
        display: block;
        width: 40px;
        height: 30px;
        background-color: #08b231;
        border-top: 0;
        border-bottom: 0;
        margin-left: -3px;
        transition: all 0.1s ease-in-out; }
      .form-field .toggle .toggle-switch i {
        position: absolute;
        color: #ffffff;
        top: 8px; }
        .form-field .toggle .toggle-switch i.one-way {
          left: 13px; }
        .form-field .toggle .toggle-switch i.both-way {
          top: 8px;
          right: 13px; }
    .form-field .toggle .toggle-label {
      display: inline-block;
      line-height: 30px; }
    .form-field .toggle .toggle-label-off {
      color: #08b231; }
    .form-field .toggle.active .toggle-label-off {
      color: #ddd9d9; }
    .form-field .toggle.active .toggle-label-on {
      color: #08b231; }
    .form-field .toggle.active .toggle-switch:after {
      margin-left: 40px; }
