/**
 * style used for slider component
**/
/**
 * SCSS variables
 *
 * variables exported to other scss files
 */
.range-slider .values-group {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .range-slider .values-group .track {
    width: 100%; }
  .range-slider .values-group .input-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; }
    .range-slider .values-group .input-block input {
      pointer-events: none;
      background: transparent;
      border: none;
      outline: none;
      width: 50px; }
    .range-slider .values-group .input-block input.right {
      text-align: right; }

.range-slider .track {
  position: relative;
  width: inherit;
  height: 2px;
  background: #ddd9d9;
  box-sizing: border-box;
  padding: 0 5px; }
  .range-slider .track .thumb {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer; }
    .range-slider .track .thumb::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #ddd9d9;
      z-index: 99;
      left: -10px;
      top: -10px;
      box-sizing: border-box; }
  .range-slider .track .thumb-min::after {
    border: 1.5px solid #08b231; }
  .range-slider .track .thumb-max::after {
    border: 1.5px solid #08b231; }
  .range-slider .track .selection {
    position: absolute;
    width: unset;
    height: 2px;
    background: #08b231; }
