/**
 * Style for mobiles, tablets, upto 992px
 * 
 * Overwrites the default styles defined for the larger screen, more then 992px.
 *
 */
/**
 * SCSS variables
 *
 * variables exported to other scss files
 */
/* small devices (mobiles, tables, up 992px ) */
@media screen and (max-width: 992px) {
  html,
  body {
    overflow: auto; }
    html .app-header .search-nav,
    body .app-header .search-nav {
      display: flex; }
    html main,
    body main {
      overflow: auto;
      flex-direction: column-reverse; }
      html main aside.menu-container,
      body main aside.menu-container {
        display: none; }
      html main section.content,
      body main section.content {
        margin: 30px; }
      html main section.filter,
      body main section.filter {
        padding-bottom: 0; }
        html main section.filter form,
        body main section.filter form {
          display: flex;
          background: #ffffff;
          display: flex;
          justify-content: space-between; }
          html main section.filter form .form-field,
          body main section.filter form .form-field {
            flex: 1;
            margin: 30px; }
        html main section.filter:empty,
        body main section.filter:empty {
          display: none; }
      html main.mobile,
      body main.mobile {
        position: relative; }
        html main.mobile aside.menu-container,
        body main.mobile aside.menu-container {
          position: absolute;
          width: 100%;
          background: rgba(0, 0, 0, 0.1);
          height: 100%;
          right: 0;
          top: 0;
          z-index: 999;
          display: block; }
          html main.mobile aside.menu-container .menu,
          body main.mobile aside.menu-container .menu {
            width: 70%;
            right: 0;
            display: flex;
            margin-left: auto;
            height: 100%;
            background: #f9fbfc;
            z-index: 1000; }
            html main.mobile aside.menu-container .menu #my-form,
            body main.mobile aside.menu-container .menu #my-form {
              width: 100%; } }
